.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-text-1 {
  margin: 68px 0 52px;
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}